<footer class="page-footer font-small bg-secondray pt-4">

    <div class="cotainer">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">siga-nos redes sociais</h4>

              </div>
        </div>
              <div class="row">
                  <div class="col-md-12 d-flex justify-content-center">
               
                  <ul>
                      <a href="https://facebook.com/generationbrasil"target="_blank"
                      class="icoFacebook">
                      <i class="fab fa-facebook"></i>

                   </a> 

                   <a href="https://instagram.com/generationbrasil"target="_blank"
                   class="icoFacebook">
                   <i class="fab fa -instagra"></i>
                   
                    
                  </ul>
                  <a href="https://linked.com/generationbrasil"target="_blank"
                  class="icoFacebook">
                  <i class="fab fa-linked"></i>
                  
                  </div> 
              
          <div class="footer-copyright bg-dark -center py-3">
             <span class="text-light">2020 copyright</span>
              <a class="text-light"target="_blank"href="https//generationbrasil">
            </a>generationbrasil.org
          </div>
    </div>

</footer>
