ul.social-network{
    list-style:none;
    padding: 0;
}

ul.social-network{
    display: inline;
    margin:0;
    padding: 5px;
}


.fo{
    font-size: 35pt;
    color: white;
    padding: 10;
}



fa-facebook-squara:hover{
    color:#3b5998;
}

fa-intagram{
    color: #c13584;
}

fa-linkedin{
    color:#0072b1
}